Flask       
Flask-SQLAlchemy
Flask-Login
Werkzeug
SQLAlchemy
python-dotenv
Flask-Migrate
gunicorn
pymysql
cryptography
openai
psycopg2
mysql
mysql-connector-python
psycopg2-binary
pymongo
SQLAlchemy
python-dotenv
Werkzeug
Flask-SQLAlchemy
Flask-Login
cryptography
Flask
psycopg2
openai
python-dotenv
Flask
werkzeug

Flask
flask-cors
python-dotenv
psycopg2-binary
mysql-connector-python
pymongo
pandas
openai